/* Genel Stil */
body {
    background-image: "";
    background-color: #1e1e1e; /* Siyah arka plan */
    color: #ffffff; /* Beyaz yazı rengi */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 50px; /* Üst kısımdan boşluk bırakır */
}


/* Form Konteyneri */
#application-form {

    background-color: #2c2c2c; /* Koyu gri arka plan */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 1920px; /* Form genişliği arttırıldı */
    width: 100%;
    box-sizing: border-box;
}

/* Form Başlığı */
#application-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff; /* Kırmızı başlık rengi */
    font-size: 24px; /* Başlık font büyüklüğü arttırıldı */
}

/* Etiketler */
#application-form label {
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
    color: #0066fffb; /* Mavi etiket rengi */
}

/* Giriş Alanları */
#application-form input[type="text"],
#application-form input[type="number"],
#application-form textarea {
    width: 100%;
    padding: 15px; /* Giriş alanı iç boşluğu arttırıldı */
    margin-bottom: 20px;
    border: 2px solid #ff0000; /* Mavi sınır */
    border-radius: 4px;
    background-color: #333333; /* Koyu arka plan */
    color: #ffffff; /* Beyaz yazı rengi */
    font-size: 16px; /* Giriş alanı yazı büyüklüğü */
}

#application-form input[type="text"]::placeholder,
#application-form input[type="number"]::placeholder,
#application-form textarea::placeholder {
    color: #999999; /* Placeholder rengi */
}

/* Buton Stili */
#application-form button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #ff1100; /* Kırmızı buton rengi */
    border: none;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px; /* Buton yazı büyüklüğü arttırıldı */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#application-form button[type="submit"]:hover {
    background-color: #610000; /* Daha koyu kırmızı hover rengi */
}

/* Logonun Stili */
#application-form img {
    display: block;
    margin: 0 auto 30px;
    max-width: 120px; /* Logonun boyutu arttırıldı */

}
